<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>838443443288-9de274qmbmhj4qggogkckgnb1t5rmedr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.838443443288-9de274qmbmhj4qggogkckgnb1t5rmedr</string>
	<key>API_KEY</key>
	<string>AIzaSyAtA9TLSmwAWW-xu2jVxlu5ckU_fH2aKWk</string>
	<key>GCM_SENDER_ID</key>
	<string>838443443288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.flutter.flutter.app</string>
	<key>PROJECT_ID</key>
	<string>samvaad-1a7ae</string>
	<key>STORAGE_BUCKET</key>
	<string>samvaad-1a7ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838443443288:ios:65cddd554b2d2ff5cf162d</string>
</dict>
</plist>